.App {
  text-align: center;
}

.fnf-list {
  width: auto;
  height: auto;
  border: 1px solid black;
}

.fnf-card {
  width: 20rem;
  height: auto;
  border: .5px solid black;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.new-activity-box {
  padding: 5rem;
  border: 1px solid black;
}
